html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
/*1ere partie exercice : Fabriquer un Feu de circulation, les feux s'allument quand la souris passe dessus---------------------------------------------------------------*/
#trafficlight0 {
    padding: 0;
    margin: 0;
    width: 12%;
    height: 40vh;
    margin-top: 200px;
    background-color: black;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 5vh;
}
#trafficlight0 span {
    margin:20px auto;
    display:block;
    width:65px;
    height:65px;
    border:4px solid #000;
    border-radius:50%;       
    }
#red0{
    background-color:rgba(255, 0, 0, 0.5);
    width: 35%;
    height: 10vh;
    border-radius: 50%;
    margin: auto;  
    margin-bottom: 7vh;
}
#green0{
    background-color:rgba(0, 128, 0, 0.5);
    width: 35%;
    height: 10vh;
    border-radius: 50%;
    margin: auto;  
    margin-bottom: 7vh;
}
#orange0{
    background-color: rgba(255, 165, 0, 0.5);
    width: 35%;
    height: 10vh;
    border-radius: 50%;
    margin: auto;  
}
#red0:hover{
    background-color: red;
}
#orange0:hover{
    background-color: orange;
}
#green0:hover{
    background-color: green;
}

 /*2eme partie exercice : Récréer une séquence d'allumage puis synchroniser 2 feux---------------------------------------------------------------------*/  
#trafficlight{
    padding: 0;
    margin: 0;
    width: 12%;
    height: 40vh;
    margin-top: 200px;
    background-color: black;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 5vh;
    float: left;
    margin-left: 400px;
    }
#trafficlight span {
    margin:20px auto;
    display:block;
    width:65px;
    height:65px;
    border:4px solid #000;
    border-radius:50%;       
    }
#red {
     animation:red 20s infinite;
    }
#green { 
    animation: green 20s infinite;
    }
#orange {
    animation: orange 20s infinite;
    }
@keyframes red{
    0%, 30% {
    background: black;
    }
    31%, 100% {
    background: red;
    }
    }
    @keyframes green{
    0%, 20% {
    background:green;
    }
    21%, 100% {
    background: black;
    }
    81%, 100% {
    background: black;
    }
    }
    @keyframes orange{
    0%, 20% {
    background: black;
    }
    31%, 100% {
    background: black;
    }
    21%, 30% {
    background: #FF7E00;
    }
    }
    #trafficlight2{
    padding: 0;
    margin: 0;
    width: 12%;
    height: 40vh;
    margin-top: 200px;
    background-color: black;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 5vh;
    }
    #trafficlight2 span{
    margin:20px auto;
    display:block;
    width:65px;
    height:65px;
    border:4px solid #000;
    border-radius:50%;       
    }
    #red2{
    animation:red2 20s infinite;
    }
    #green2 {
    animation: green2 20s infinite;
    }
    #orange2 {
    animation: orange2 20s infinite;
    }       
    @keyframes red2{
    0%, 50% {
    background: red;
    }
    51%, 80% {
    background: black;
    }
    81%, 100% {
    background: red;
    }
    }
    @keyframes green2{
    0%, 50% {
    background: black;
    }
    51%, 70% {
    background: green;
    }
    71%, 100% {
    background: black;
    }
    }
    @keyframes orange2{
    0%, 70% {
    background: black;
    }
    71%, 80% {
    background: #FF7E00;
    }
    81%, 100% {
    background:black;
    }
    }             
            
              
            