/*REQUETE DE MEDIA : IMPRESSION */

        /*Requête média visant a avoir une certaine mise en page pour l'impression d'un document*/
        @media print{
            body, html{
                margin: 0%;
            }
            header{
                -webkit-print-color-adjust:exact;
            }

            div{
                page-break-after:always;
            }
            #poussin1{
                display: none;
            }
            #poussin2{
                display: none;
            }
            #left{
                float: none;
                
            }
            #right{
                float: none;
            
            }
            }