body{
    background-color: rgb(14, 14, 14);
    width: 100%;
    height: 900px;
}

#conteneur{
    background-color: rgb(26, 0, 1);
    width: 80%;
    height: 62%;
    text-align: center;
    font-size: 10px;
    color: white;
    margin-top: 30px;
    margin-left: 9%;
    padding-top: 10px;
    line-height: 10px;
    margin-bottom: 10px;
}
#contenu{
    border: 2px solid white;
    width: 80%;
    height: 82%;
    margin-left: 10%;
    margin-top: 30px;
    background-color: white;
    overflow: scroll;
    color: black;   
}
#conteneur_flex{
    display: flex;
    flex-direction : column;
    width: 80vw;
    height: 140vh;
    text-align: left;
}
section{
    display: flex;
    flex-direction: row wrap;
}
#contenu {
    flex-basis: 50%;
    padding: 0 10px;
}
